<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

  </ion-header>


<ion-content style="vertical-align: middle;">
  <ion-grid class="login_container">
    <ion-row>
      <ion-col>
        <ion-icon name="bulb-outline"></ion-icon>
        <ion-title class="large-title">One More Light</ion-title>
        <ion-button  style="--background:#db3236" (click)="doGoogleLogin()">Login with Google </ion-button>
        <ion-button style="--background:#3b5998" (click)="doFbLogin()">Login with Facebook</ion-button> 
      </ion-col>
    </ion-row>
  </ion-grid>   
</ion-content> 