<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contact</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card style="padding: 0cm;">
      <ion-card-header>
        <ion-card-subtitle>Address</ion-card-subtitle>
        <ion-card-title>Anjan Jana</ion-card-title>
      </ion-card-header>
      <ion-item>
        <ion-label>Village: Paya</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>P.O: Paya Medinipur</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Dist.: Purba Medinipur</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Digha, West Bengal</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label>link2anjan@gmail.com</ion-label>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
